<section class="d-flex align-items-center justify-content-center" style="min-height: calc(100vh - 56px);">
  <div class="text-center">
      <%= link_to "hold hands",
      articles_path,
      class: "btn btn-lg btn-light rounded-pill px-4 py-2 shadow position-absolute top-50 start-50 translate-middle text-decoration-none",
      style: "z-index:10;" %>

    <%= image_tag "hold_hands.png", alt: "hold hands", class: "img-fluid", style:"max-width:360px;" %>
  </div>
</section>